*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainPostContainer{
  height: 10rem;
  width: 20rem;
  border: 1px solid black;
}

.headerPostContainer,
.userStatusContainer{
  display: flex;
  
}

.userStatusContainer{
  justify-content: space-between;
  align-items: center;
}

.userStatusContainer div p{
  display: inline-block;
}