* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.mainPostContainer {
  width: 50rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
}

.headerPostContainer,
.headerPostContainer div,
.userStatusContainer {
  display: flex;
}

.headerPostContainer {
  padding: 1rem;
  justify-content: space-between;
}

.userInfoContainer {
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.imgRoundedContainer {
  box-shadow: 2px 2px 4px black;
  border-radius: 50rem;
  overflow: hidden;
}

.big {
  width: 4rem;
  height: 4rem;
}

.small {
  width: 1.5rem;
  height: 1.5rem;
}

.userStatusContainer {
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

.userStatusContainer div p {
  display: inline-block;
}

.bodyPostContainer p {
  padding: 0 1rem 1rem 1rem;
}

.bodyPostContainer div {
  width: 100%;
  height: 20rem;

}

.bodyPostContainer div img {
  height: 100%;
  width: 100%;
}

#closeIcon {
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

#closeIcon:hover {
  transform: scale(1.2);
  fill: red;
}