* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.mainPostContainer {
  width: 50rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
}

.headerPostContainer,
.userStatusContainer {
  display: flex;
}

.headerPostContainer {
  padding: 1rem;
}

.imgRoundedContainer {
  border: solid 1px black;
  box-shadow: 2px 2px 4px black;

  border-radius: 50rem;
  overflow: hidden;

}

.big {
  width: 4rem;
  height: 4rem;
}

.small {
  width: 1.5rem;
  height: 1.5rem;
}

.userStatusContainer {
  justify-content: space-between;
  align-items: center;
}

.userStatusContainer div p {
  display: inline-block;
}

.bodyPostContainer p {
  padding: 0 1rem 1rem 1rem;
}

.bodyPostContainer div {
  width: 100%;
  height: 20rem;
}

.bodyPostContainer div img {
  height: 100%;
  width: 100%;
}