.footer_mio{
    border: 3px solid green;
    width: 100%;
}

.footer_mio ul {
    padding: 0;
    margin: 0; 
}

.footer_mio ul li {
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
    text-decoration: underline;
}

p{
    font-size: 12px;
}
