/*ICONS-SVG*/

#closeIcon {
  padding: .2rem;
  cursor: pointer;
  transition: transform .3s ease-in-out;
  border-radius: 10rem;
  /* background-color: transparent; */
}

#closeIcon:hover {
  background-color: lightgray;
  transform: scale(1.2);
  /* fill: red; */
  stroke: red;
}